// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  text-align: center;
}

.mdl-textfield {
  width: 100% !important;
}

.mdl-button {
  width: calc(100% - 15px);
}

.mdl-slider__background-flex {
  width: 100% !important;
  margin-left: 0 !important;
}
